body {
    overflow-x: hidden;

}

h1 {

    font-family: 'Courier New', Courier, monospace;
    display: flex;
    height: 40vh;
    width: 40vh;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    padding: 10px;
}

  #text{
    position: relative;
    color: #FFFFFF;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  

#add-artist-form {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 200px 100px;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid antiquewhite;
  }
  
  #filters {
    display: grid;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 15px;
    margin-top: 10px;
    gap: 15px;
  }
  
  #filter-by-style,
  #filter-by-age {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    gap: 5px;
  }
  
  #headers {
    padding: 10px 20px;
    border-bottom: 10 px solid antiquewhite;
    border-radius: 10px;
    background: antiquewhite;
    border-top: 5px solid antiquewhite;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-family: 'Courier New', Courier, monospace;
  }
  
  #artists {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
  }
  
  .artist {
    padding: 10px 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .artist div {
    /* Center vertically */
    display: flex;
    align-items: center;
  }
  
  .artist:nth-child(odd) {
    border-radius: 10px;
  }
  


  @media (min-aspect-ratio: 16/9) {
    .video-container iframe {
      height: 56.25vw;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-container iframe {
      width: 177.78vh;
    }
  }
  
  
  
